# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @slekup @odn-admin

# Apps
/api/** @odnlabs/api
/apps/internal-docs/** @odnlabs/web
/apps/website/** @odnlabs/web
/apps/web-client/** @odnlabs/web

# Libraries
/libs/api-client/** @odnlabs/api @odnlabs/web
/libs/tailwind-config/** @odnlabs/web
/libs/ui/** @odnlabs/web
/libs/utils-server/** @odnlabs/web
/libs/utils-client/** @odnlabs/web

# Tools
/tools/** @odnlabs/tooling
/tools/rest/** @odnlabs/api @odnlabs/web

# Documentation
/docs/** @odnlabs/docs
