# Dependencies
**/node_modules

# Logs
**/logs
**/*.log
**/npm-debug.log*

# Testing
**/coverage

# Next.js
**/.next/
**/out/

# Dist
**/dist/
**/build/

# Rust
target/

# Docker
docker/postgres-data
docker/redis-data

# Cache
tmp/
.nx/
.prettiercache
.eslintcache

# Miscellaneous
**/.tmp
**/.idea
**/.DS_Store
**/tsup.config.bundled*

# Prettier specific
**/.husky/
**/.git/
**/.github/
**/pnpm-lock.yaml
**/tsup.config.bundled*
