/* FBB03B  FF00FF  00FFFF  E3FF00*/

:root {
  /* Primary */
  --primary: 64, 155, 255;
  --primary-hover: 32, 138, 255;
  --primary-active: 0, 120, 253;
  --secondary: 46, 48, 67;
  --secondary-hover: 64, 67, 94;
  --secondary-active: 83, 87, 121;
  /* Text */
  --text: 255, 255, 255;
  --text-primary: 223, 223, 223;
  --text-secondary: 199, 199, 200;
  --text-faint: 130, 130, 133;
  --text-button: 255, 255, 255;
  /* System */
  --link: 91, 169, 255;
  /* Elements */
  --background: 26, 27, 38;
  --shade: 22, 22, 30;
  --tooltip: 29, 32, 43;
  --tooltip-text: 255, 255, 255;
  /* Header */
  --header: 22, 22, 30;
  --navigation-bar: 11, 12, 16;
  --sidebar: 17, 18, 25;
  /* System (no change) */
  --warning: 253, 182, 34;
  --warning-hover: 254, 207, 112;
  --warning-active: 251, 170, 2;
  --success: 34, 197, 94;
  --success-hover: 31, 180, 87;
  --success-active: 29, 165, 80;
  --danger: 227, 43, 61;
  --danger-hover: 213, 28, 46;
  --danger-active: 189, 26, 41;
  /* Components */
  --input: 229, 231, 235;
  --input-focus: 255, 255, 255;
  --border: 14, 14, 20;
}
