@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: georgia, cambria, Times, serif;
  margin: 0;
  padding: 0;
  transition-duration: 300ms;
}

body {
  color: rgb(var(--text));
  background-color: rgb(var(--background));
  overflow-y: scroll;
  overflow-x: hidden;
  break-word: break-word;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgb(var(--primary));
  color: rgb(var(--text-button));
  text-shadow: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-default-active;
  -webkit-border-radius: 8px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.no-select::selection {
  @apply bg-transparent text-transparent;
}

.yes-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.hover-thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-thin-scroll:hover {
  scrollbar-color: auto;
}

.hover-thin-scroll::-webkit-scrollbar {
  @apply hidden w-[3px];
}

.hover-thin-scroll:hover::-webkit-scrollbar {
  display: block;
}

.hidden-scrollbar {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scroll-bar {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  @apply relative overflow-x-auto overflow-y-hidden whitespace-nowrap;
}

.scroll-bar:hover {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
}

.scroll-bar::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

/* The grabbable scrollbar button  */
.scroll-bar:hover::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0)] rounded-[30px];
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  cursor: pointer;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

/* The vertical scrollbar background */
.scroll-bar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

@keyframes bounce {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.range-container input {
  -webkit-appearance: none;
  @apply cursor-pointer;
}

.range-container input::-webkit-slider-thumb {
  @apply bg-shade border-solid border-4 border-primary h-7 w-7 rounded-full;
  -webkit-appearance: none;
}

.range-container input:active {
  @apply cursor-grab;
}

.range-container input::-moz-range-thumb {
  @apply bg-shade border-4 border-primary h-5 w-5 rounded-full cursor-pointer;
  -webkit-appearance: none;
}

.range-container input:active {
  @apply cursor-grab;
}

/* Accessibility */
a,
button {
  @apply focus-visible:transition-none focus-visible:ring;
}

/* Table */
table {
  @apply my-5 border-t border-l border-border border border-collapse table-auto text-text-secondary break-words w-full !important;
}

tbody tr {
  @apply odd:bg-default;
}

th,
td {
  @apply border-r border-b border-border border-collapse;
}

th {
  @apply px-3 py-2 text-sm font-medium text-text-secondary;
}

td {
  @apply px-3 py-2 text-sm font-medium text-text;
}

/* Code */
.code {
  @apply text-[14px] py-0.5 px-1.5 mx-0 rounded-sm bg-default-hover text-text font-semibold cursor-auto transition duration-200;
}

/* Animated gradient */
.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-animation 10s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
