/* Styling for Posts */
/* Headings */
.content:not(.ignore) h1,
.content:not(.ignore) h2,
.content:not(.ignore) h3,
.content:not(.ignore) h4,
.content:not(.ignore) h5,
.content:not(.ignore) h6 {
  display: block;
  /* margin-bottom: 1.25rem; */
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.content:not(.ignore) h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid rgb(var(--border));
}

.content:not(.ignore) h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid rgb(var(--border));
}

.content:not(.ignore) h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.content:not(.ignore) h4,
.content:not(.ignore) h5,
.content:not(.ignore) h6 {
  line-height: 1.25rem;
}

/* Paragraph */
.content:not(.ignore) > p {
  margin: 1rem 0;
  font-size: 1rem;
  color: rgb(var(--text-secondary));
}

/* Code Blocks */
.content:not(.ignore) pre code {
  display: block;
  overflow: hidden;
  border-radius: 0.375rem;
  margin: 1.25rem 0;
  padding-right: 1.25rem;
  cursor: text;
}

.content:not(.ignore) pre code span:last-of-type {
  margin-right: -1.25rem;
  padding-right: 1.25rem;
}

/* Quotes */
.content:not(.ignore) blockquote p {
  display: block;
  max-width: 36rem;
  width: calc((10 / 12) * 100%); /* 83.333333% */
  margin: 0 auto;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(var(--primary-glass));
  padding: 1.25rem 0;
  margin: 2.5rem 0;
  border-width: 1px 0;
  border-color: rgb(var(--primary-glass));
}

/* Code bit in paragraph */
.content:not(.ignore) p code,
.content:not(.ignore) ul code,
.content:not(.ignore) ol code,
.content:not(.ignore) td code {
  font-size: 14px;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  padding: 0 0.25rem;
  border-radius: 4px;
  background: rgb(var(--secondary-hover));
  font-weight: 600;
  cursor: auto;
  transition: background-color 150ms ease;
}

/* Unordered Lists */
.content:not(.ignore) ul {
  display: block;
  list-style-type: disc;
  padding: 0 1.25rem;
  color: rgb(var(--text-secondary));
  margin: 0.75rem 0;
}

/* Ordered Lists */
.content:not(.ignore) ol {
  display: block;
  list-style-type: decimal;
  padding: 0 1.25rem;
  color: rgb(var(--text-secondary));
  margin: 0.75rem 0;
}

/* List Point */
.content:not(.ignore) li {
  padding: 0 0.5rem;
}

.content:not(.ignore) a {
  color: rgb(var(--link));
}

.content:not(.ignore) a:hover {
  text-decoration: underline;
}

.content:not(.ignore) h1 a,
.content:not(.ignore) h2 a,
.content:not(.ignore) h3 a,
.content:not(.ignore) h4 a,
.content:not(.ignore) h5 a,
.content:not(.ignore) h6 a {
  color: rgb(var(--text));
}

.content:not(.ignore) h1 a:hover,
.content:not(.ignore) h2 a:hover,
.content:not(.ignore) h3 a:hover,
.content:not(.ignore) h4 a:hover,
.content:not(.ignore) h5 a:hover,
.content:not(.ignore) h6 a:hover {
  text-decoration-color: transparent;
}

.content:not(.ignore) hr {
  border: 0;
  border-top: 1px solid rgb(var(--border));
  margin: 2.5rem 0;
}
