/* Styling for Posts */
/* Headings */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}

.content h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 2rem;
}
.content h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1.75rem;
}

.content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1.25rem;
}

.content h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.content h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.75rem;
}

.content h6 {
  font-size: 16px;
  margin-top: 0.75rem;
}

/* Paragraph */
.content p {
  margin: 0.75rem 0;
  color: rgb(var(--text-secondary));
}

/* Code Blocks */
.content pre code {
  display: block;
  overflow: hidden;
  border-radius: 0.375rem;
  margin: 1.25rem 0;
  padding-right: 1.25rem;
  cursor: text;
}

.content pre code span:last-of-type {
  margin-right: -1.25rem;
  padding-right: 1.25rem;
}

/* Quotes */
.content blockquote p {
  display: block;
  max-width: 36rem;
  width: calc((10 / 12) * 100%); /* 83.333333% */
  margin: 0 auto;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: rgb(var(--primary-glass));
  padding: 1.25rem 0;
  margin: 2.5rem 0;
  border-width: 1px 0;
  border-color: rgb(var(--primary-glass));
}

/* Code bit in paragraph */
.content p code,
.content ul code,
.content ol code,
.content td code {
  font-size: 14px;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  padding: 0 0.25rem;
  border-radius: 4px;
  background: rgb(var(--secondary-hover));
  font-weight: 600;
  cursor: auto;
  transition: background-color 150ms ease;
}

/* Unordered Lists */
.content ul {
  display: block;
  list-style-type: disc;
  padding: 0 1.25rem;
  color: rgb(var(--text-secondary));
  margin: 0.75rem 0;
}

/* Ordered Lists */
.content ol {
  display: block;
  list-style-type: decimal;
  padding: 0 1.25rem;
  color: rgb(var(--text-secondary));
  margin: 0.75rem 0;
}

/* List Point */
.content li {
  padding: 0 0.5rem;
}

.content a {
  color: rgb(var(--link));
}

.content a:hover {
  text-decoration: underline;
}

.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  color: rgb(var(--text-primary));
}

.content h1 a:hover,
.content h2 a:hover,
.content h3 a:hover,
.content h4 a:hover,
.content h5 a:hover,
.content h6 a:hover {
  text-decoration-color: transparent;
}

.content hr {
  border: 0;
  border-top: 1px solid rgb(var(--border));
  margin: 2.5rem 0;
}
