# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Label Sync

on:
  push:
    branches:
      - main
    paths:
      - '.github/labels.yml'
      - '.github/workflows/label-sync.yml'
  pull_request:
    paths:
      - '.github/labels.yml'
      - '.github/workflows/label-sync.yml'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  label-sync:
    name: Label Sync
    runs-on: ubuntu-latest
    if: github.repository_owner == 'odnlabs'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
